In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/weather_melted_clear_unclear.csv')

In [7]:
# Keep only relevant columns 

df_filtered = df[['Number_of_Sightings' , 'weather']]

grouped = df_filtered.groupby(by = ['weather']).sum(['Number_of_Sightings']).reset_index()

In [8]:
grouped

  weather  Number_of_Sightings
0   Clear                67905
1   Dusty                  588
2   Foggy                 1345
3   Hazey                 7370
4   Rainy                 9224
5   Windy                  440